[Unit]
Description=Camera Utilty

[Service]
WorkingDirectory=/home/pi/pitography/
ExecStart=/bin/sh start_camera.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
